/*==== VISUALS ====*/

@mixin vs-box-shadow {
	box-shadow: 0 2px 4px rgba(#868686, .5);
}

/*==== VISUALS ====*/



/*==== DEBUG ====*/

@mixin dg-box {
	min-height: 100px;
	background-color: #ccc;
	border: 1px solid #868686;
}

/*==== DEBUG ====*/