@import 'susy';
@import 'mixins';
@import 'colors';
@import 'variables';
@import 'fontface';
@import 'fonts';
@import 'default';
@import 'mixins';

/********* LAYOUT *********/

$mobile-breakpoint: 36em;
$tablet-breakpoint: 48em;
$desktop-small-breakpoint: 62em;
$desktop-large-breakpoint: 75em;

$susy: (
	columns: 4,
	gutters: 1/4,
	gutter-position: split
);

$mobile: (
	columns: 4
);

$tablet: (

);

$desktop-small: (
	container: 980px,
	columns: 12
);

$desktop-large: (

);

.l-container {
	@include container;
}

@media screen and (min-width: $mobile-breakpoint) {
	@include with-layout($mobile, true) {
		.l-container {
			@include container;
		}
	}
}

@media screen and (min-width: $tablet-breakpoint) {
	@include with-layout($tablet, true) {
		.l-container {
			@include container;
		}
	}
}

@media screen and (min-width: $desktop-small-breakpoint) {
	@include with-layout($desktop-small, true) {
		.l-container {
			@include container;
		}
	}
}

@media screen and (min-width: $desktop-large-breakpoint) {
	@include with-layout($desktop-small, true) {
		.l-container {
			@include container;
		}
	}
}
/********* LAYOUT *********/

/********* MODULES *********/
@import 'modules/b-button';
@import 'modules/b-search';
@import 'modules/b-post';
@import 'modules/b-promo-post';
@import 'modules/b-banner';
@import 'modules/b-contacts';
@import 'modules/b-logo';
@import 'modules/b-site-menu';
@import 'modules/b-header';
@import 'modules/b-page-heading';
@import 'modules/b-main-content';
@import 'modules/b-post-listing';
@import 'modules/b-footer';
/********* MODULES *********/


.b-menu-trigger {
	@media screen and (min-width: $desktop-small-breakpoint) {
		@include with-layout($desktop-small) {
			display: none;
		}
	}
}