mixin b-gallery
	.b-gallery
		a(href="img/b-city__thumbnail--small.png" data-fancybox="group" class="b-gallery__item")
			img(src="img/b-city__thumbnail--small.png")
		a(href="img/b-city__thumbnail--small2.png"  data-fancybox="group" class="b-gallery__item")
			img(src="img/b-city__thumbnail--small2.png")
		a(href="img/b-city__thumbnail--small3.png"  data-fancybox="group" class="b-gallery__item")
			img(src="img/b-city__thumbnail--small3.png")
		a(href="img/b-city__thumbnail--small4.png"  data-fancybox="group" class="b-gallery__item")
			img(src="img/b-city__thumbnail--small4.png")
		a(href="img/b-city__thumbnail--small.png"  data-fancybox="group" class="b-gallery__item")
			img(src="img/b-city__thumbnail--small.png")
		a(href="img/b-city__thumbnail--small2.png"  data-fancybox="group" class="b-gallery__item")
			img(src="img/b-city__thumbnail--small2.png")