mixin b-breadcrumbs
	.b-breadcrumbs
		.l-container
			ul.b-breadcrumbs__list
				li.b-breadcrumbs__list-item
					a.b-breadcrumbs__link(href="#") Главная
					a.b-breadcrumbs__link(href="#") Экскурсии
					a.b-breadcrumbs__link(href="#") Сакраменто