extends /layouts/main

block mixins
	include /modules/b-section/b-section
	include /modules/b-post/b-post
	include /modules/b-post-gallery/b-post-gallery
	include /modules/b-post-listing/b-post-listing
	include /modules/b-sidebar-item/b-sidebar-item
	include /modules/b-sidebar-item/b-sidebar-item__section
	include /modules/b-list/b-list
	include /modules/b-list/b-list__item
	include /modules/b-breadcrumbs/b-breadcrumbs

block variables
	- var title = "Экскурсии в Америку на русском языке";
	- var heading = "Сервис по подбору экскурсий в США на русском языке";

block pre-content
	+b-breadcrumbs
	include /modules/b-page-heading/b-page-heading


block main-content
	+b-section
		.b-sidebar
			+b-sidebar-item
				+b-sidebar-item__section('Достопримечательности')
					+b-list
						+b-list__item
							a(href="#") Диснейуорлд
						+b-list__item
							a(href="#") Эмпайр Стейт Билдинг
						+b-list__item
							a(href="#") Центральный парк
						+b-list__item
							a(href="#") Статуя свободы
						+b-list__item
							a(href="#") Золотые ворота
						+b-list__item
							a(href="#") Брайс Каньон
						+b-list__item
						a(href="#") Арчес

			+b-sidebar-item
				+b-sidebar-item__section('Музеи')
					+b-list
						+b-list__item
							a(href="#") Нью-Йоркский музей современного искусства
						+b-list__item
							a(href="#") Музей современного искусства в Сан-Франциско
						+b-list__item
							a(href="#") Музей изящных искусств
			+b-sidebar-item
				+b-sidebar-item__section('Экскурсии по городам')
					+b-form
						+b-form__field(placeholder="Город" class="b-sidebar-item__form-field")
				+b-sidebar-item__section('Популярные города')
					+b-list
						+b-list__item
							a(href="#") Сакраменто
						+b-list__item
							a(href="#") Лас Вегас
						+b-list__item
							a(href="#") Лос Анджелес


		.b-content
			+b-post-listing
				+b-post--excursion('img/b-excursion.png', 'Ознакомительная экскурсия', 'Благодаря активной добыче золота, Сакраменто в 19 веке стал развиваться стремительными темпами: была проложена первая железнодорожная транспортная магистраль на североамериканском континенте, что способствовало еще более активному развитию всех промышленно-экономических сфер города. В середине 20 века Сакраменто превратился в один из самых влиятельных промышленных центров Калифорнии со своим собственным железнодорожным вокзалом, внутренним и международным аэропортами, рукотворным каналом и огромным портом. В окрестностях Сакраменто находится одна из самых крупных баз дислокации военно-воздушных сил США.', true).b-post--excursion

				+b-post--excursion('img/b-excursion.png', 'Ознакомительная экскурсия', 'Благодаря активной добыче золота, Сакраменто в 19 веке стал развиваться стремительными темпами: была проложена первая железнодорожная транспортная магистраль на североамериканском континенте, что способствовало еще более активному развитию всех промышленно-экономических сфер города. В середине 20 века Сакраменто превратился в один из самых влиятельных промышленных центров Калифорнии со своим собственным железнодорожным вокзалом, внутренним и международным аэропортами, рукотворным каналом и огромным портом. В окрестностях Сакраменто находится одна из самых крупных баз дислокации военно-воздушных сил США.', true).b-post--excursion

				+b-post--excursion('img/b-excursion.png', 'Ознакомительная экскурсия', 'Благодаря активной добыче золота, Сакраменто в 19 веке стал развиваться стремительными темпами: была проложена первая железнодорожная транспортная магистраль на североамериканском континенте, что способствовало еще более активному развитию всех промышленно-экономических сфер города. В середине 20 века Сакраменто превратился в один из самых влиятельных промышленных центров Калифорнии со своим собственным железнодорожным вокзалом, внутренним и международным аэропортами, рукотворным каналом и огромным портом. В окрестностях Сакраменто находится одна из самых крупных баз дислокации военно-воздушных сил США.', true).b-post--excursion
			

	
	


	