.b-breadcrumbs {
	&__list {
		list-style-type: none;
		padding: $padding/2 0;
	}

	&__link {
		padding: 0 $padding / 2;
		border-left: 1px solid get-color('black');

		&:first-child {
			padding-left: 0;
			border-left: none;
		}
	}
}