.b-post-listing {
	.b-post {
		@include full;
		margin-top: 1rem;
	}
}

/********* MEDIA QUERIES *********/

@media screen and (min-width: $desktop-small-breakpoint) {
	@include with-layout($desktop-small, true) {
		.b-post-listing {
			clear: both;

			& .b-post {
				margin-top: $padding * 2;
				@include gallery(3);
			}
		}
	}
}

/********* MEDIA QUERIES *********/