.b-post {
	border-radius: $border-radius;
	overflow: hidden;
	background-color: $white;
	padding: 0 $padding $padding;
	@include vs-box-shadow;

	&__thumbnail {
		margin: 0 -1rem;
	}

	&__thumbnail-img {
		display: block;
	}

	&__heading {
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 1rem;
	}

	&__excerpt {
		margin-top: 1rem;
	}

	&__links {
		padding: 0;
		margin: $padding 0 0;
	}

	&__links-link {
		line-height: 1.5;
	}

	&__links-item {
		list-style: none;
		margin-top: $vertical-padding;

		&:first-child {
			margin-top: 0;
		}
	}

	&__button {
		display: table;
		margin: $padding auto 0;
	}

	&__meta {
		margin: $vertical-padding 0 0;
	}

	&--promo {
		@include full;

		.b-post__meta {
			overflow: hidden;
		}

		.b-button {
			float: right;
			margin: 0;
		}

		.b-post__links {
			float: left;
			margin: $vertical-padding 0 0;
		}

		.b-post__links-item {
			display: inline;
			margin-right: 1rem;
		}
	}
}


/********* MEDIA QUERIES *********/

@media screen and (min-width: $desktop-small-breakpoint) {
	@include with-layout($desktop-small, true) {
		.b-post {
			&--promo {
				margin-left: 0;
				@include span(9);
			}
		}
	}
}

/********* MEDIA QUERIES *********/