.b-page-heading {
	background-color: $white;
	font-size: 2rem;
	padding: $page-title-padding 0;
	@include vs-box-shadow;

	&__h1 {
		@include full;
	}
}

/********* MEDIA QUERIES *********/

@media screen and (min-width: $desktop-small-breakpoint) {
	@include with-layout($desktop-small, true) {
		.b-page-heading {
			&__h1 {
				@include full;
			}
		}
	}
}

/********* MEDIA QUERIES *********/