// =============================================================================
// Colors
// =============================================================================
$blue: #00509E;
$light-blue: #9BC8F9;
$shade-blue: #79AADF;
$dark-blue: #4278B7;
$white: #fff;
$grey: #f5f5f5;
$black: #000;
$skiey: #9BC8F9;


$colors: () !default;
$colors: map-merge((
	'blue': #00509E,
	'skiey': #9BC8F9,
	'shade-blue': #79AADF,
	'dark-blue': #4278B7,
	'white': #fff,
	'grey': #f5f5f5,
	'grey-middle': #d8d8d8,
	'black': #000,
), $colors);

$primary-color: $blue;
$secondary-color: $light-blue;

$theme-colors: () !default;
$theme-colors: map-merge((
	primary-color: get-color('blue'),
	secondary-color: get-color('skiey')
), $theme-colors);



// =============================================================================
// Fonts
// =============================================================================
$basic-font-size: 1rem !default;
$basic-line-height: 1.2 !default;
$body-color: get-color('black');



// =============================================================================
// Paddings and Margins
// =============================================================================
$basic-border-radius: 3px !default;
$basic-border-width: 2px;
$input-border-color: theme-color('secondary-color');
$basic-text-decoration: none !default;
$color-step: 7% !default;
$padding: 1rem !default;
$vertical-padding: $padding/2 !default;

$l-container-padding: $padding;



// =============================================================================
// Shadows
// =============================================================================
$box-shadow-size: 0 2px 4px !default;
$box-shadow-color: rgba(#868686, .5) !default;



// =============================================================================
// Links
// =============================================================================
$link-color: theme-color('primary-color');
$link-decoration: none;
$link-hover-color: theme-color('primary-color');
$link-hover-decoration: underline;