include /modules/b-form/b-form__field
div.b-site-search
	div.l-container
		+b-form
			+b-form__field(placeholder="Поиск города")
			div.b-site-search__button-wrapper
				+b-button("Поиск")(class="b-button--3d b-site-search__button")